/*
WOW SO CSS

*/

body{
  font-family: Comic Sans MS, sans serif;
  font-size: 16 px;
  background-color: white;
  text-align: center;
}

a{
  text-decoration: none;
  color: #000;
}

h2{
  height: 50px;
  width: 100%;
  margin-top: 10px;
  border-color: #FFFF00;
  background-color: #FFEC8B;
  text-align: center;
}

td{
  border: 1px solid #FFFF00;
  height: 100%;
  width: 60px;
  position: center;
}

td a{
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 100%;
}

td a:hover{
  background-color: #ffd700; /*#FFF2B3;*/
}

div {
	border-radius: 5px;
}

